<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.prover.swypeid.enterprise">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />


    <application
        android:name="io.prover.common.ProverApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".SplashActivity"
            android:allowTaskReparenting="true"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:theme="@style/Prover.NoActionBar.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="io.prover.common.enterprise.auth.AuthActivity"
            android:allowTaskReparenting="true"
            android:launchMode="singleTask"
            android:theme="@style/Prover.NoActionBar.Light" />

        <activity
            android:name="io.prover.common.prefs.WalletAndPreferencesActivity"
            android:theme="@style/Prover.NoActionBar.Wallet" />

        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:immersive="true"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- provider to share files to other apps since android-N (7.0) -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>